</main>
<br>
<footer>
<section class="hero is-warning">
<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="navbar-item is-active">
            <a>Contact Us</a>
          </li>
          <li class="navbar-item is-active">
            <a>FAQs</a>
          </li>
        </ul>
        <br>
        <h5 class="title is-6 is-centered">Made with ❤️ by Ruben Caceres, Jr, a former 
            teacher continuing to change the lives of exceptional
            students.</h5>
      </div>
    </nav>
</div>
</section>
</footer>