<%- include('./partials/header') %>

<h2 class="title is-2">Welcome to the Sped Teacher's "Cookbook"!</h2>
<h3 class="title is-3">Sign in with Google to access all activities!</h3>


<%- include('./partials/footer') %>