<%- include('../partials/header') %>

<ul>
    <li>
        <% if (user) { %>
            <a href="/logout"><i class="#">trending_flat</i>Log Out</a>
        <% } else { %>
            <a href="/auth/google"><i class="#">vpn_key</i>Login with Google</a>
        <% } %>
    </li>
</ul>


<%- include('../partials/footer') %>